services:
  - docker

before_install:
  - docker build -t $DOCKER_USER/multi-container-test .

script:
  - docker run $DOCKER_USER/multi-container-test

after_success:
  - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
  - docker tag multi-container-test $DOCKER_USER/multi-container-test:$TRAVIS_BUILD_NUMBER
  - docker push $DOCKER_USER/multi-container-test:$TRAVIS_BUILD_NUMBER
  - docker tag multi-container-test $DOCKER_USER/multi-container-test:latest
  - docker push $DOCKER_USER/multi-container-test:latest