version: "3.2"
services:
  api:
    restart: always
    container_name: api
    command: bash -c "python3 manage.py makemigrations && python3 manage.py migrate && python3 manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./api:/api
    build:
      context: ./api/
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
  client:
    stdin_open: true
    environment:
      - CHOKIDAR_USEPOLLING=true
    restart: always
    command: npm start
    container_name: client
    volumes:
      - ./client:/client
    build:
      context: ./client/
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - api
  nginx:
    depends_on:
      - api
      - client
    restart: always
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "8080:80"

volumes:
  node-modules:
